/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, td img {
  vertical-align: top;
}
input, section, button, textarea {
  margin: 0;
  font-size: 100%;
  outline: none;
}
input[type="text"], input[type="password"], textarea {
  padding: 0;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none;
}
/* --------------- /reset.css --------------- */

/* --------------- Базовые настройки --------------- */
html {
  min-height: 100%;
}
body {
  color: #7e7f84;
  text-align: left;
  font-size: 1em;
  min-height: 100%;}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
/* <uniquifier>: Use a uniquifier for the class name
 <weight>: Use a value from 100 to 900 */
.roboto-condensed-uniquifier {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
a, a:visited {
  color: #f45a40;
  text-decoration: underline;
}
a:hover {
  color: #f45a40;
  text-decoration: none;
}
a:focus, a:active {
  color: #f45a40;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
img {
  max-width: 100%;
}
.clr {
  clear: both;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
/* --------------- /Базовые настройки --------------- */
.center-block-main {
  max-width: 1170px;
  margin: 0 auto;
}
  .logo {
    float: left;
    font-size: 1.375em;
    font-family: "Roboto Condensed", sans-serif;
    
  }
  .contact-basket {
    float: right;
  }
    .contact-basket p {
      float: left;
      font-size: 0.75em;
      font-family: 600;
    }
    .contact-basket p img {
      vertical-align: middle;
    }
    .header-phone {
      padding-top: 8px;
    }
    .header-basket {
      border: 1px solid #eee;
      padding: 7px 25px;
      margin-left: 20px;
    }
      .header-basket a {
        text-decoration: none;
        color: #7e7f84;
        text-transform: uppercase;
        margin-left: 20px;
      }
      .header-basket a:hover {
        color: #f45a40;
      }
  .header-top {
    padding: 30px 0;
    border-bottom: 1px solid #eee;
  }
  .header-bottom {
    padding: 10px 0;
  }
    .menu {
      float: left;
    }
      .menu li {
        float: left;
        text-transform: uppercase;
        margin-right: 30px;
        font-size: 0.875em;
      }
      .menu li a {
        color: #7e7f84;
        text-decoration: none;
      }
      .menu li a:hover {
        color: #f45a40;
      }
    .search-block {
      float: left;
      margin-top: -3px;
    }
      .search-img {
        float: left;
        margin: 5px 5px 0 0;
      }
      .search {
        float: left;
        font-size: 0.875em;
        color: #7e7f84;
        border: none;
        line-height: 1.4;
      }
.my-slider {}
  .my-slider ul li {
    position: relative;
    color: #f45a40;
  }
  .my-slider ul li h2 {
    position: absolute;
    top: 220px;
    left: 30px;
    font-size: 3.6875em;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.1;
  }
  .my-slider ul li p {
    position: absolute;
    top: 360px;
    left: 30px;
    font-size: 0.875em;
    font-family: "Roboto", sans-serif;
  }
  .unslider-nav {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    top: -40px;
  }
.block3-main {
  margin-bottom: 50px;
}
  .block3-main article {
    width: 31.6%;
    float: left;
    margin-left: 2.6%;
  }
  .block3-main article:first-child {
    margin-left: 0;
  }
  .block3-main article img {
    display: block;
    margin: 0 auto 20px auto;
  }
  .block3-main article h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.375em;
    margin-bottom: 20px;
  }
  .block3-main article p {
    font-size: 0.875em;
    font-family: "Roboto Condensed", sans-serif;
  }
.block4-section {
  margin-bottom: 60px;
}
  .block4-section>h2 {
    text-align: center;
    color: #67686d;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.375em;
    margin-bottom: 30px;
  }
  .block4-main {}
    .block4-main article {
      width: 23%;
      margin-left: 2.4%;
      float: left;
      border: 1px solid #eee;
    }
    .block4-main article:first-child {
      margin-left: 0;
    }
    .block4-main article img {
      display: block;
      margin: 0 auto;
    }
    .block4-main-content {
      padding: 20px 20px 0 20px;
      border-top: 1px solid #eee;
    }
    .block4-main-content h2 {
      color: #67686d;
      font-size: 1.125em;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-weight: 500;
    }
    .block4-main-content h3 {
      color: #67686d;
      font-size: 0.875em;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: 400;
      font-style: italic;
    }
    .block4-main-content p {
      color: #67686d;
      font-size: 0.625em;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 400;
    }
    p.price-bascet {
      border-top: 1px solid #eee;
      font-size: 0.875em;
      padding: 15px 0;
      color: #f45a40;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 600;
    }
      .price {
        float: left;
      }
      .price-plus {
        float: right;
      }
.about {
  margin: 60px;
  margin-left: 9%;
}
  .about:last-child{
    margin-left: 0;
  }
  .about h2 {
    font-size: 1.4em;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }
  .text-info {
    width: 57%;
    float: left;
  }
    .text-info p {
      font-size: 0.875em;
      padding-bottom: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: italic;
    }
    .text-info p:last-child {
      padding-bottom: 0;
    }
    .info-map {
      margin-left: 9%;
      width: 34%;
      float: right;
      height: auto;
    }
    .mapin {
      position: relative;
      padding-bottom: 75%;
      height: 0;
      overflow: hidden;
    }
    .mapin iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
.subscribe {
  background: #f45a40;
  color: #fff;
  padding: 30px 0;
}
  .subscribe h2 {
    float: left;
    font-size: 1.325em;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
  }
  .subscribe-form {
    float: right;
  }
  .email-input {
    text-transform: uppercase;
    font-size: 0.875em;
    float: left;
    width: 200px;
    padding: 7px 20px;
    border: 0;
    font-family: "Roboto", sans-serif;
  }
  .submit-input {
    text-transform: uppercase;
    background: #ff674f;
    float: left;
    margin-left: 20px;
    border: none;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
    font-size: 0.875em;
    font-family: "Roboto", sans-serif;
  }
.footer {
  background: #2a2d34;
  padding: 40px 0;
}
  .footer article {
    border: 0;
  }
  .footer h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.375em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .footer p {
    font-size: 0.875em;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
  }
  .footer h3 {
    font-size: 0.875em;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
  }
    .footer h3 a {
      color: #fff;
      text-decoration: none;
    }
    .footer h3 a:hover {
      color: #f45a40;
    }
  .footer a {
    font-family: "Roboto", sans-serif;
  }
  .support {
    float: left;
    width: 47%;
    margin-right: 3%;
  }
    .support a {
      display: block;
      margin-bottom: 5px;
      text-decoration: none;
      color: #7e7f84;
    }
      .support a:hover {
        color: #f45a40;
      }
  .ftr-email-input {
    width: 100%;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-bottom: 15px;
    padding: 7px 20px;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
  }
  .ftr-coment-text {
    width: 100%;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-bottom: 15px;
    padding: 7px 20px;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
  }
  .ftr-submit-input {
    text-transform: uppercase;
    font-size: 0.875em;
    border: none;
    background: #f45a40;
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }